.nav {
  color: white;
  &__list {
    display: flex;
    flex-direction: column;

    font-size: 18px;
    font-weight: 400;

    @include breakpoint-up("lg") {
      flex-direction: row;
    }
  }

  &__item {
    &:not(&:last-child) {
      margin-bottom: 10px;
      @include breakpoint-up("lg") {
        margin-right: 25px;
        margin-bottom: 0;
      }
    }
  }

  &__link {
    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.nav--header {
  .nav {
    &__list {
      text-align: center;
    }
  }
}

.nav--footer {
  .nav {
    &__list {
      @include breakpoint-up("md") {
        flex-direction: row;
      }
    }
    &__item {
      &:not(:last-child) {
        @include breakpoint-up("md") {
          margin-right: 25px;
        }
      }
    }
  }
}
