.nav {
  &__list {
    display: flex;
    flex-direction: column;

    font-size: 20px;

    @include breakpoint-up("md") {
      flex-direction: row;
    }
  }

  &__item {
    &:not(&:last-child) {
      margin-right: 15px;
    }
  }
}

.nav--footer {
  color: white;
}
