.blog-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__img-wrapper {
    width: 100%;
  }

  &__img {
    width: 100%;
    max-width: 100%;
    max-height: 240px;
    object-fit: cover;
  }

  &__title {
    margin-top: 10px;

    text-transform: uppercase;

    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0.05rem;
    font-weight: 500;

    color: var(--main-fc);

    @include breakpoint-up("lg") {
      margin-top: 20px;

      font-size: 2rem;
      line-height: 3.5rem;
      letter-spacing: 0.05rem;
    }

    a {
      padding: 10px;
      padding-left: 0;
    }
  }

  &__time {
    margin-top: 5px;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 300;

    color: var(--fourth-fc);

    @include breakpoint-up("lg") {
      font-size: 1.8rem;
      line-height: 3.2rem;
    }
  }

  &__excerpt {
    margin-top: 10px;

    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 300;

    color: var(--main-fc);

    @include breakpoint-up("lg") {
      margin-top: 20px;

      font-size: 1.7rem;
      line-height: 3.3rem;
    }
  }

  &__link {
    padding: 10px;
    padding-left: 0;
    margin-top: 10px;

    display: inline-flex;

    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.2rem;

    letter-spacing: 0.05rem;
    text-decoration-line: underline;

    color: var(--third-fc);

    @include breakpoint-up("lg") {
      margin-top: 20px;
    }

    &:active,
    &:focus,
    &:hover {
      opacity: 0.8;
    }
  }
}
