.nav {
  color: var(--main-fc);
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoint-up("lg") {
    flex-direction: row;
  }

  &__list {
    display: flex;
    flex-direction: column;

    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8rem;

    @include breakpoint-up("lg") {
      flex-direction: row;
    }
  }

  &__item {
    &:not(&:last-child) {
      margin-bottom: 10px;
      @include breakpoint-up("lg") {
        margin-right: 25px;
        margin-bottom: 0;
      }
    }
  }

  &__link {
    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__contact {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--fourth-fc);
    margin-top: 10px;

    @include breakpoint-up("lg") {
      margin-top: 0;
      margin-left: auto;
    }
  }

  &__contact-link {
    color: var(--third-fc);
  }
}

.nav--header {
  .nav {
    &__list {
      text-align: center;
    }
  }
}

.nav--footer {
  color: var(--second-fc);
  .nav {
    &__list {
      @include breakpoint-up("md") {
        flex-direction: row;
      }
    }
    &__item {
      &:not(:last-child) {
        @include breakpoint-up("md") {
          margin-right: 25px;
        }
      }
    }
  }
}
