.social {
    max-width: 250px;

    &__list {
        display: flex;
        gap: 30px;
    }
    &__item {
        width: 100%;

        display: flex;
        align-items: center;
        justify-items: center;
    }

    &__link {
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-items: center;

        position: relative;
    }

    &__link-icon {
        width: 25px;
        height: 25px;
    }
}

.social--hero {
    @include breakpoint-up("lg") {
        max-width: 30px;
    }
    .social__list {
        @include breakpoint-up("lg") {
            flex-direction: column;
        }
    }
    .social__item {
        margin-right: 0;
    }
}
