.about {
    padding-top: 40px;

    @include breakpoint-up("md") {
        padding-top: 50px;
    }

    @include breakpoint-up("lg") {
        padding-top: 60px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include breakpoint-up("lg") {
            flex-direction: row;
        }
    }

    &__description {
        width: 100%;
        max-width: 670px;

        display: flex;
        flex-direction: column;
        align-items: center;

        order: 1;
        @include breakpoint-up("lg") {
            order: 2;
        }
        @include breakpoint-up("fhd") {
            max-width: 750px;
        }
    }

    &__description-list {
        margin-top: 20px;
    }

    &__description-item {
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: var(--main-fc);

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        padding-left: 20px;
        position: relative;

        &:before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;

            background-color: var(--third-color);

            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__title {
        font-size: 4rem;
        line-height: 5.1rem;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--third-fc);

        @include breakpoint-up("sm") {
            font-size: 5rem;
            line-height: 6.1rem;
        }
    }

    &__text {
        margin-top: 20px;

        font-size: 1.7rem;
        line-height: 4.3rem;
        color: var(--main-fc);

        @include breakpoint-up("sm") {
            font-size: 1.4rem;
            line-height: 2.1rem;
        }

        @include breakpoint-up("lg") {
            margin-top: 40px;
        }
    }

    &__button {
        margin-top: 60px;
    }

    &__image-wrapper {
        margin-top: 40px;

        order: 2;
        // width: 100%;
        // max-width: 230px;
        // min-height: 350px;
        @include breakpoint-up("sm") {
            // max-width: 340px;
            // min-height: 500px;
        }
        @include breakpoint-up("lg") {
            margin-top: 0;
            order: 1;
        }
        @include breakpoint-up("fhd") {
            // max-width: 400px;
            // min-height: 600px;
        }
    }
}
