.gallery {
    padding-bottom: 80px;
    padding-top: 40px;

    @include breakpoint-up("lg") {
        padding-top: 100px;
        padding-bottom: 160px;
    }

    &__container {
    }

    &__title {
        font-weight: 800;
        font-size: 3rem;
        line-height: 3.7rem;

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #d68629;

        @include breakpoint-up("lg") {
            font-size: 5rem;
            line-height: 6rem;
        }
    }

    &__list {
        margin-top: 25px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        display: grid;

        @include breakpoint-up("lg") {
            margin-top: 90px;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
    }

    &__item {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    &__item-title {
    }

    &__item-image {
        object-fit: cover;
        max-height: 200px;
        width: 100%;
        height: 100%;
    }
}
